@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  html {
    overscroll-behavior: none;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
  }

  body {
    @apply bg-black text-white;
    overscroll-behavior: none;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-montserrat font-black;
  }

  .subtext,
  .subtitle {
    @apply font-pt-mono font-bold;
  }

  p,
  div {
    @apply font-pt-mono;
  }
}
